.item {

    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;

    .title {
        font-size: 20px;
    }

    .subTitle {
        color: gray;
    }

    .editButton {
        background-color: black;
        color: cyan;
        font-size: 10px;
        padding: 3px 5px;
    }

    .removeButton {
        background-color: black;
        color: red;
        font-size: 10px;
        padding: 3px 5px;
        margin-left: 10px;
    }
}